<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
  	<link rel="stylesheet" href="style.css" type="text/css" media="screen">

	<title>{{ page.title }}</title>
</head>
<body class="github">
	<h1><span class="name">The League of Moveable Type</span> {{ page.title }}</h1>
	<h2><img src="images/OFLLogoCircGray.png" alt="OFL Logo" width="20"> Open Font Licenses</h2>

	{% include contents.html %}
	
	<article class="{{ page.class }}">
			{{ content }}
	</article>
	{% if page.download %}
		<footer>
			<a href="https://github.com/theleagueof/licenses/raw/master/{{ page.download }}.txt" class="download">Download .txt</a> <a href="https://github.com/theleagueof/licenses/raw/master/{{ page.download }}.markdown" class="download">Download .markdown</a>
		</footer>
	{% endif %}
	
	<footer class="signature">
			<img src="images/leaguelogo.png" alt="The League of Moveable Type Logo">
			<a href="http://www.theleagueofmoveabletype.com">The League of Moveable Type</a> | <a href="https://www.github.com/theleagueof">Github</a>
	</footer>

</body>
</html>
